/* 
        DEFAULT VALUES:
        Font Family: Roboto Condensed

        Greenish Blue: #34c6d3 (Buttons, icons, links, lines, & backgrounds)
        Steel Gray: #41464b (Headings)
        Blue Bayoux: #64707b (Paragraphs)
        White: #fff (Text with black backgrounds)
        Black: #000
*/
/*================================================================================
                                GENERAL CSS
================================================================================*/
html,
body {
    height: 100%;
}

body {
    font-family: "Roboto Condensed", sans-serif;
}

p {
    color: #64707b;
    font-size: 16px;
    font-weight: 300;
}

h3 {
    color: #41464b;
    text-transform: uppercase;
}

/*================================================================================
                                    HOME
================================================================================*/
#home {
    height: 100%;
}

#home-cover {
    height: 100%;
    background-image: url("../img/bg-home.jpg");
}

#home-content-box {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#home-heading h3 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    margin: 20px 0 20px 0;
    text-transform: uppercase;
}

/*================================================================================
                                PARALLAX (Generic)
================================================================================*/
.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*================================================================================
                                BUTTONS (Generic)
================================================================================*/
.btn-general {
    border-width: 2px;
    border-radius: 0;
    padding: 12px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border-color: #fff;
    color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    background-color: #fff;
    color: #41464b;
}

.btn-blue {
    border-color: #34c6d3;
    color: #34c6d3;
}

.btn-blue:hover,
.btn-blue:focus {
    background-color: #34c6d3;
    color: #fff;
}

/*================================================================================
                                    ANIMATION
================================================================================*/
#home-cover,
#home-heading,
#home-btn {
    animation-duration: .5s;
}

#home-cover {
    animation-delay: .1s;
}

#home-heading {
    animation-delay: .5s;
}

#home-btn {
    animation-delay: 1s;
}

/*================================================================================
                                    CONTENT (Generic)
================================================================================*/
.content-box {
    padding: 60px 0 60px 0;
}

.content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #34c6d3;
    margin: 0 auto 30px auto;
}

/*================================================================================
                                   SERVICES
================================================================================*/
.service-item {
    padding: 20px 0;
    margin-bottom: 20px;
    cursor: pointer;
}

.service-item-icon i {
    color: #34c6d3;
    float: left;
    padding: 15px;
    margin-right: 25px;
    width: 75px;
    height: 75px;
    text-align: center;
}

.service-item:hover .service-item-icon i {
    color: #fff;
    background-color: #34c6d3;
}

.service-item-title h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.service-item-desc p {
    margin: 0;
    padding-left: 85px;
}

/*================================================================================
                                   ABOUT
================================================================================*/
#about-bg-diagonal {
    width: 60%;
    height: 700px;
    float: right;
    background-image: url(../img/bg-about.jpg);
    border-left: 200px solid #fff;
    border-top: 700px solid transparent;
}

#about-content-box {
    float: left;
    height: 700px;
}

#about-content-box-outer {
    width: 100%;
    height: 100%;
    display: table;
}

#about-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#about .content-title h3 {
    text-align: left;
}

#about .content-title-underline {
    margin: 0 0 30px 0;
}

#about-desc p {
    margin-bottom: 30px;
}


/*================================================================================
                                   WORK
================================================================================*/
.row.no-gutters [class*=col-] {
    padding-left: 0;
    padding-right: 0;
}

.img-wrapper {
    overflow: hidden;
}

.img-wrapper img {
    transition: transform .5s ease;
}

.img-wrapper img:hover {
    transform: scale(1.5);
    cursor: zoom-in;
}


/*================================================================================
                                   TEAM
================================================================================*/
.owl-theme .owl-dots .owl-dot span {
    background-color: #96e2e8;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #34c6d3;
}

.owl-theme .owl-dots .owl-dot.active span {
    background-color: #34c6d3;
}

.team-member {
    margin: 0 15px;
}

.team-member-info {
    padding: 10px 0 30px 0
}

h4.team-member-name {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px;
}

h4.team-member-designation {
    color: #34c6d3;
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 5px;
}


/*================================================================================
                                   SOCIAL
================================================================================*/
.social-list {
    padding-left: 0;
}

.social-list li {
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 10px;
}

.social-icon i {
    font-size: 17px;
}

.icon-gray i {
    color: #64707b;
}

.icon-gray i:hover {
    color: #34c6d3;
}